<ion-view title="አዲስ">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="name">
                    <span class="input-label">ስም</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="description">
                    <span class="input-label">ዝርዝር</span><textarea placeholder=""> </textarea>
                </label>
                <label class="item item-input" name="price">
                    <span class="input-label">ዋጋ</span>
                    <input type="number" placeholder="0.00">
                </label>
            </ion-list>
            <a href="#/page13" class="button button-balanced button-block ">ፎቶ ያንሱ</a>
        </form>
        <form class="list"></form>
    </ion-content>
</ion-view>