<ion-view title="ፈርጅ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">ኤሌትሮኒክስ</ion-item>
            <ion-item href="#/main/search">ኤሌትሮኒክስ 1</ion-item>
            <ion-item>ኤሌትሮኒክስ 2</ion-item>
            <ion-item>ኤሌትሮኒክስ 3</ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider">አልባሳት</ion-item>
            <ion-item>አልባሳት 1</ion-item>
            <ion-item class="item-divider">የቤት ውስጥ መገልገያ</ion-item>
            <ion-item>መገልገያ 1</ion-item>
            <ion-item>መገልገያ 2</ion-item>
            <ion-item class="item-divider">የቢሮ እቃዎች</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>የቢሮ እቃዎች 1</ion-item>
            <ion-item>የቢሮ እቃዎች 2</ion-item>
            <ion-item class="item-divider">መዝናኛ</ion-item>
            <ion-item>መዝናኛ 1</ion-item>
            <ion-item>መዝናኛ 2</ion-item>
            <ion-item class="item-divider">ጌጣ ጌጥ</ion-item>
            <ion-item>ጌጥ 1</ion-item>
            <ion-item>ጌጥ 2</ion-item>
            <ion-item class="item-divider">የሚከራይ ቤት</ion-item>
            <ion-list>
                <ion-item>ቤት 1</ion-item>
                <ion-item>ቤት 2</ion-item>
                <ion-item class="item-divider">መኪና</ion-item>
                <ion-item>ኪራይ</ion-item>
                <ion-item>ሽያጭ</ion-item>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>