<ion-view title="ማርጋገጫ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">የልጅ አልጋ</div>
            <div class="item item-body">
                <img src="img/xTAyF2eNRLGK2jBnmUoj_41325326-disney-frozen-canopy-bed-01.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
                <div>
                    <p>የልጅ አልጋ
                        <strong>የልጅ አልጋ</strong>የልጅ አልጋ የልጅ አልጋ የልጅ አልጋ የልጅ አልጋ</p>
                </div>
            </div>
            <div class="item item-divider">ዋጋ 500 ብር</div>
        </div>
        <div class="button-bar">
            <a href="#/main/search" class="button button-stable button-block ">አረጋግጥ</a>
        </div>
    </ion-content>
</ion-view>