<ion-view title="ዝርዝር">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <img src="img/rcslJ7O2RfGU1pAA82Sy_verizon-nexus-6.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="list card">
            <div class="item item-divider">ኔክሰስ 6 አዲስ ሞዴል</div>
            <div class="item item-body">
                <div>
                    <p>
                        <strong>ኔክሰስ 6 አዲስ ሞዴል</strong>
                        <strong>
                            ኔክሰስ 6 አዲስ ሞዴል ኔክሰስ 6 አዲስ ሞዴል ኔክሰስ 6 አዲስ ሞዴል ኔክሰስ 6 አዲስ ሞዴል</strong>ኔክሰስ 6 አዲስ ሞዴል
                        <strong></strong>
                        ኔክሰስ 6 አዲስ ሞዴል ኔክሰስ 6 አዲስ ሞዴል ኔክሰስ 6 አዲስ ሞዴል ኔክሰስ 6 አዲስ ሞዴል</p>
                </div>
            </div>
            <div class="item item-divider">(c) ገበያ.com</div>
        </div>
    </ion-content>
</ion-view>