<ion-view title="ምርጫዎቼ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="SearchBox">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="ፈልግ">
            </label>
            <ion-item class="item-thumbnail-left">
                <img src="img/b0i8hHI0Tgy8rG6uKXTg_VINLLE-2015-Genuine-Leather-women-lady-shoes-pointed-toe-dress-shoes-sweet-pink-white-color-women.jpg">
                <h2>የሴት ጫማ</h2>
                <p>ፒንክ ቀለም ምርጥ የሴት ጫማ ከጀርመን የመጣ</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/b0i8hHI0Tgy8rG6uKXTg_VINLLE-2015-Genuine-Leather-women-lady-shoes-pointed-toe-dress-shoes-sweet-pink-white-color-women.jpg">
                <h2>የሴት ጫማ</h2>
                <p>ፒንክ ቀለም ምርጥ የሴት ጫማ ከጀርመን የመጣ</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/b0i8hHI0Tgy8rG6uKXTg_VINLLE-2015-Genuine-Leather-women-lady-shoes-pointed-toe-dress-shoes-sweet-pink-white-color-women.jpg">
                <h2>የሴት ጫማ</h2>
                <p>ፒንክ ቀለም ምርጥ የሴት ጫማ ከጀርመን የመጣ</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/b0i8hHI0Tgy8rG6uKXTg_VINLLE-2015-Genuine-Leather-women-lady-shoes-pointed-toe-dress-shoes-sweet-pink-white-color-women.jpg">
                <h2>የሴት ጫማ</h2>
                <p>ፒንክ ቀለም ምርጥ የሴት ጫማ ከጀርመን የመጣ</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/b0i8hHI0Tgy8rG6uKXTg_VINLLE-2015-Genuine-Leather-women-lady-shoes-pointed-toe-dress-shoes-sweet-pink-white-color-women.jpg">
                <h2>የሴት ጫማ</h2>
                <p>ፒንክ ቀለም ምርጥ የሴት ጫማ ከጀርመን የመጣ</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/b0i8hHI0Tgy8rG6uKXTg_VINLLE-2015-Genuine-Leather-women-lady-shoes-pointed-toe-dress-shoes-sweet-pink-white-color-women.jpg">
                <h2>የሴት ጫማ</h2>
                <p>ፒንክ ቀለም ምርጥ የሴት ጫማ ከጀርመን የመጣ</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/b0i8hHI0Tgy8rG6uKXTg_VINLLE-2015-Genuine-Leather-women-lady-shoes-pointed-toe-dress-shoes-sweet-pink-white-color-women.jpg">
                <h2>የሴት ጫማ</h2>
                <p>ፒንክ ቀለም ምርጥ የሴት ጫማ ከጀርመን የመጣ</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/b0i8hHI0Tgy8rG6uKXTg_VINLLE-2015-Genuine-Leather-women-lady-shoes-pointed-toe-dress-shoes-sweet-pink-white-color-women.jpg">
                <h2>የሴት ጫማ</h2>
                <p>ፒንክ ቀለም ምርጥ የሴት ጫማ ከጀርመን የመጣ</p>
            </ion-item>
        </form>
        <ion-list></ion-list>
    </ion-content>
</ion-view>