<ion-view title="MainController">
    <ion-tabs class="tabs-balanced tabs-icon-top">
        <ion-tab title="ምርጫዎቼ" icon="ion-android-star" href="#/main/favourites">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="ፈልግ" icon="ion-ios-search-strong" href="#/main/search">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="ፈርጅ" icon="ion-android-menu" href="#/main/categories">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="አዲስ" icon="ion-android-add-circle" href="#/main/addItem">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="መልእክት" icon="ion-email-unread" href="#/main/messages">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>