<ion-view title="መልእክት">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">የተላከልዎ</div>
            <div class="item item-body">
                <div>
                    <p>ይቅርታ ምንም አዲስ መልእክት የለዎትም፡፡</p>

                    <p>እናመሰግናለን፡፡</p>
                </div>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <div class="list card">
            <div class="item item-divider">የላኩት</div>
            <div class="item item-body">
                <div>
                    <p>ምንም መልእክት የለዎትም፡፡</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>