<ion-view title="ፎቶ - ያረጋግጡ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <img src="img/xTAyF2eNRLGK2jBnmUoj_41325326-disney-frozen-canopy-bed-01.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="spacer" style="width: 285px; height: 14px;"></div>
        <div class="button-bar">
            <a href="#/confirmation" class="button button-stable button-block ">ተጠቀም</a>
            <a href="#/page13" class="button button-stable button-block ">አዲስ ያንሱ</a>
        </div>
    </ion-content>
</ion-view>