<ion-view title="ፍለጋ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <ion-item class="item-thumbnail-left" href="#/itemDetail">
                <img src="img/efvexF8wQRuK4fm8CBGI_verizon-nexus-6.jpg">
                <h2>ኔክሰስ 6 አዲስ ሞዴል</h2>
                <p>10,000.00 ብር</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/qTAmYeZ9S96EeM642Vky_iphone6s-plus-box-rosegold-2015_GEO_US">
                <h2>አይፎን 6S (በቅናሽ ዋጋ)</h2>
                <p>13,000 ብር (ዋጋ 18,000 ብር)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/efvexF8wQRuK4fm8CBGI_verizon-nexus-6.jpg">
                <h2>ተንቀሳቃሽ ሰልክ</h2>
                <p>ኔክሰስ 6 አዲስ ሞዴል</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/qTAmYeZ9S96EeM642Vky_iphone6s-plus-box-rosegold-2015_GEO_US">
                <h2>አይፎን 6S (በቅናሽ ዋጋ)</h2>
                <p>13,000 ብር (ዋጋ 18,000 ብር)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/efvexF8wQRuK4fm8CBGI_verizon-nexus-6.jpg">
                <h2>ተንቀሳቃሽ ሰልክ</h2>
                <p>ኔክሰስ 6 አዲስ ሞዴል</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/qTAmYeZ9S96EeM642Vky_iphone6s-plus-box-rosegold-2015_GEO_US">
                <h2>አይፎን 6S (በቅናሽ ዋጋ)</h2>
                <p>13,000 ብር (ዋጋ 18,000 ብር)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/efvexF8wQRuK4fm8CBGI_verizon-nexus-6.jpg">
                <h2>ተንቀሳቃሽ ሰልክ</h2>
                <p>ኔክሰስ 6 አዲስ ሞዴል</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/qTAmYeZ9S96EeM642Vky_iphone6s-plus-box-rosegold-2015_GEO_US">
                <h2>አይፎን 6S (በቅናሽ ዋጋ)</h2>
                <p>13,000 ብር (ዋጋ 18,000 ብር)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/efvexF8wQRuK4fm8CBGI_verizon-nexus-6.jpg">
                <h2>ተንቀሳቃሽ ሰልክ</h2>
                <p>ኔክሰስ 6 አዲስ ሞዴል</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>